* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 32px;
}

.field {
  position: relative;
  text-align: center;
  background-color: #81c8db;
  box-shadow: 3px 3px 2px 1px rgba(184, 211, 218, 0.25);
  padding: 12px;
  border-radius: 8px;
}